/* src/styles/bookingForm.css */

.booking-form-section {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-form {
    display: grid;
    gap: 16px;
}

.booking-form label {
    font-weight: bold;
}

.booking-form input,
.booking-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Ensure date and time pickers have consistent styling */
.booking-form input[type="date"],
.booking-form input[type="time"] {
    width: 100%; /* Ensure they take full width of the parent container */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 1em;
}

.booking-form input[type="date"]::-webkit-inner-spin-button,
.booking-form input[type="time"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.booking-form input[type="date"]::-webkit-calendar-picker-indicator,
.booking-form input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(30%) sepia(60%) saturate(500%) hue-rotate(90deg) brightness(90%) contrast(90%);
}

/* Specific styling for occasion picker (select element) */
.booking-form select {
    width: 100%; /* Ensure full width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1em;
    box-sizing: border-box;
}

.booking-form input[type="submit"] {
    background-color: #495E57;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px; /* Added margin to create space above the button */
}

.booking-form input[type="submit"]:hover {
    background-color: #F4CE14;
    color: #333333;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Optional: Media query for responsiveness */
@media (max-width: 600px) {
    .booking-form-section {
        max-width: 100%;
        padding: 10px;
    }
}