/* Styles/header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Example background color */
    padding: 20px;
}

.header-text {
    flex: 1; /* Take up remaining space */
    max-width: 400px; /* Maximum width for the text zone */
}

.text-content {
    width: 100%; /* Ensure full width within max-width */
}

.header-text h1 {
    font-size: 2em;
    margin-bottom: 3px; /* Adjusted margin bottom to reduce space */
}

.header-text h2 {
    font-size: 1.5em;
    color: #888;
    margin-bottom: 8px; /* Adjusted margin bottom to reduce space */
}

.header-text p {
    font-size: 1em;
    color: #666;
    line-height: 1.5; /* Adjust line height for readability */
}

.header-image {
    width: 200px; /* Fixed width for the image */
    height: 300px; /* Fixed height for the image */
    position: relative; /* Ensure proper centering */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Center content */
    justify-content: center; /* Center content */
    align-items: center; /* Center content */
}

.header-img {
    max-width: 100%; /* Maximum width of the image */
    max-height: 100%; /* Maximum height of the image */
    width: auto; /* Allow the width to adjust */
    height: auto; /* Allow the height to adjust */
    border-radius: inherit; /* Inherit parent's border radius */
}

